#profileForm{
    width: 100%;
}
.profile-info{
    float: left;
}
.rightBar{
    background-image: linear-gradient(to right top, #f1f7f8, #f0f4f6, #f0f2f3, #efeff0, #ededed);
    height: 600px;
    max-height: 650px;
    border-radius: 10px;
    padding: 10px;

}
.profile-image{
    width:200px;
    height:250px;
    padding:5px;
    border-radius: 5px;
    margin:20px 30px;
    position: relative;
}
.profile-image img{
    height: 200px;
    border-radius:10px; 
}