#addUser{
    width: 100%;
}
.table-bordered th{
    border: 1px solid #dee2e6;
}
.table th, .table td{
    padding: 0.5rem;
}
.action{
    margin-right: 5px;
}
.addBtn{
    position: relative;
    left:86.8%;
    bottom: 10px;
}

#addUsers{
    width:100%;
}
.popupClass .modal-dialog {
    margin-top:100px;
}
.text-format{
    font-size: 10px;
    color:red;
}
table.dataTable.no-footer{
     border-bottom: 1px solid; 
}
table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
}
.profile-content{
    border: 1px solid lightgray;
}
.card-text span {
    font-weight: 700;
}
