#addUser{
    width: 100%;
}
.table-bordered th{
    border: 1px solid #dee2e6;
}
.table th, .table td{
    padding: 0.5rem;
}
.action{
    margin-right: 5px;
}
.addBtn{
    position: relative;
    left:86.8%;
    bottom: 10px;
}
.modal-content{
    margin-top:100px!important;
}
.modal-dialog{
    max-width:600px!important;
}
#addUsers{
    width:100%;
}
