<html>
  <head>
   <title>Login | Page</title>
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 </head>
 <body>
    <div class="login-page">
        <div class="form">
          <form class="register-form">
            <input type="text" placeholder="name"/>
            <input type="password" placeholder="password"/>
            <input type="text" placeholder="email address"/>
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
          </form>
          <form  #loginForm="ngForm" method="post" (ngSubmit)="submitForm(loginForm.value)" class="login-form">
            <input type="text" ngModel #username="ngModel" name="username" required  placeholder="username"/>
            <span><p class='text-danger' *ngIf="!username.valid && !username.pristine">Username is required</p></span>
            <input type="password"  name="password" ngModel #password="ngModel"  placeholder="password"/>
            <button type="submit">login</button>
            <p class="message">Not registered? <a href="#">Create an account</a></p>
          </form>
        </div>
      </div>
       <div class="adjustBack" style="min-height:147px"></div>
 </body>
</html>

